.Brand {
    color: white;
    background-color: darkgray;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.titulo:hover {
    color:blueviolet;
    text-shadow: 1px 1px 2px black;
}

.titles {
    position: absolute;
    align-self: center;
}

.Links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20rem;
    animation-name: appear;
    animation-duration: 1.5s;
}

.Links a {
    cursor: pointer;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}