.Contact {
    background-color: #000000;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'ayuthayaregular', 'Helvetica Neue';
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
    color:rgb(43, 226, 217);
}

.Social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.Social h3:hover {
    color:rgb(43, 226, 217);
    text-shadow: 1px 1px 2px black;
}

a:hover {
    color:rgb(43, 226, 217);
    text-shadow: 1px 1px 2px black;
}

a {
    text-decoration: none;
    color: white;
}

.Icon {
    text-align: bottom;
}

