.Us {
    background-color: #00A99D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    letter-spacing: 0.3rem;
     /* En la versión mobile sacar esto */
}

.photo {
    border-color: black;
    border-style:double;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align:left;
    margin-left: 3rem;
    margin-right: 2rem;
    margin-top: 0%;
    font-size: 77%;
    font-weight: bold;
}
