body {
  margin: 0;
  font-family: 'ayuthayaregular', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'ayuthayaregular';
  src: url('./css/fonts/ayuthaya-webfont.woff2') format('woff2'),
       url('./css/fonts/ayuthaya-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
